body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.purple {
    background: #9D72E8;
}

.no-border {
    border: none;
}

.leaderboard-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#leaderBoard td {
    vertical-align: middle !important;
}

#leaderBoard td img {
    height: 75px;
    width: 75px;
}

.panel-primary > .panel-heading {
    background-color: #9D72E8 !important;
    border-color: #9D72E8 !important;
}

.team-progression {
    border-bottom: 1px black solid;
}

.team-progression-bar {
    position: relative;
    height: 30px;
    width: 100%;
    background: rgba(226, 223, 223, 0.20);
    overflow: hidden;
}

.team-progression-fill {
    height: 100%;
    width: 0%;
}

.js-team1 .team-progression-fill{
    background: black;
}

.js-team2 .team-progression-fill{
    background: #9D72E8;
}

.js-team3 .team-progression-fill{
    background: #D4BE26;
}
