<ion-content class="padding">
    <!--<div class="list card">-->

        <!--<div class="item item-avatar">-->
            <!--<img src="userImg">-->
            <!--<h2> {{ username }}</h2>-->
            <!--<p>November 05, 1955</p>-->
        <!--</div>-->

        <!--<div class="item item-body">-->
            <p>
                {{ questions[0].Qt }}
            </p>
            <p>
                <ion-list">
                    <ion-radio ng-model="choice" ng-value="'A'"> {{ questions[0].Qa }} </ion-radio>
                    <ion-radio ng-model="choice" ng-value="'B'"> {{ questions[0].Qb }} </ion-radio>
                    <ion-radio ng-model="choice" ng-value="'C'"> {{ questions[0].Qc }} </ion-radio>
                </ion-list>
                <button class="button button-block button-balanced" ng-click="next()">Next Question</button>
            </p>
        <!--</div>-->
</ion-content>
