<div class="row">
    <div class="col-xs-12">
        <div>
            <h1>Conquer FMI</h1>
            @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
                <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
        </div>
    </div>
    <div class="col-xs-12" data-toggle="notStarted">
        <button id="startEvent" type="button" class="btn btn-success">Start Event</button>
        <button id="stopEvent" type="button" class="btn btn-danger">Stop Event</button>
    </div>
    <div class="col-xs-12" data-toggle="notStarted">
        <h2 id="eventStartsIn"></h2>
        @*<h2>Getting started</h2>
            <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. ASP.NET Web API
            is an ideal platform for building RESTful applications on the .NET Framework.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>*@
    </div>
</div>
<div class="row" data-toggle="started">
        <div class="col-xs-4">
            <h2>Stormtroopers</h2>
            <h2 class="team-score" data-team="1">Score:</h2>
        </div>
        <div class="col-xs-4">
            <h2>Lannisters</h2>
            <h2 class="team-score" data-team="2">Score:</h2>
        </div>
        <div class="col-xs-4">
            <h2>Night elves</h2>
            <h2 class="team-score" data-team="3">Score:</h2>
        </div>
</div>

<div class="panel panel-primary" data-toggle="started">
    <div class="panel-heading">
        <h3 class="panel-title">Leaderboard</h3>
    </div>
    <div class="panel-body leaderBoardContainer">
        <table id="leaderBoard" class="table">
            <thead>Top 15 players</thead>
            <tr>
                <th></th>
                <th>Username</th>
                <th>Team</th>
                <th>Score</th>
            </tr>
            <tr class="template js-row hidden" data-guid="Guid">
                <td class="avatar" data-prop="AvatarPath" valign="middle"><img src="" /></td>
                <td class="username" data-prop="Username" valign="middle"></td>
                <td class="team" data-prop="Teamname" valign="middle"></td>
                <td class="score" data-prop="Score" valign="middle"></td>
            </tr>
        </table>
    </div>
</div>


<link href="~/Styles/leaderBoard.css" rel="stylesheet" />


@section Scripts {

    <script src="~/Scripts/PageScripts/leaderBoard.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            LeaderBoard.init("leaderBoard");
          
            $("#stopEvent").click(function (e) {
                stopEventInApi();
                getEventResult(); 
            });

            function showResult(result) {
                var qq = result;
            };

            function getEventResult() {
                $.ajax({
                    type: "POST",
                    url: "/api/getEventResult",
                    success: function (result) {
                        showResult(result);
                    },
                    error: function (result) {
                        console.log("event result didnt work!");
                    }
                });
            };

            function stopEventInApi() {
                $.ajax({
                    type: "POST",
                    url: "/api/stopEvent",
                    success: function (result) {
                        console.log("succesfully stopped event!");
                    },
                    error: function (result) {
                        console.log("event stop didnt work!");
                    }
                });
            };
        });
    </script>
    @*----------signal r events*@
    <script type="text/javascript">
        $(function () {
            // Declare a proxy to reference the hub.
            var hub = $.connection.goTagSignalRHub;

            var $elementsToShow = $('[data-toggle=started]');

            $('#countDownBaby').hide();

            // Create a function that the hub can call to broadcast messages.
            hub.client.newCorrectAnswer = function (userData) {
                var user = JSON.parse(userData);
                LeaderBoard.addOrUpdateUserScore(userData);
            };

            hub.client.eventStartCountDown = function () {
                $('#countDownBaby').show();
            }

            hub.client.eventStartCountDownUpdate = function (secondsLeft) {
                $("#eventStartsIn").text("Event starts in: " + secondsLeft);
            }

            hub.client.startEvent = function (durationInSeconds) {
                $elementsToShow = $('[data-toggle=started]');

                $('[data-toggle=notStarted]').hide();

                $elementsToShow.show();
            }

            $.connection.hub.start().done(function () {
                $('#startEvent').click(function () {
                    hub.server.callStartEvent();
                    
                    //this is just in case (cuz we have static _isEventStopped in API)
                    $.ajax({
                        type: "POST",
                        url: "/api/restartEvent",
                        success: function (result) {
                            console.log("succesfully restarted event!");
                        },
                        error: function (result) {
                            console.log("event restart didnt work!");
                        }
                    });
                });
            });
        });
    </script>
}
